body, html {
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: #777777;
}
.background {
    background-image: url("farm_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
    text-transform: capitalize;
}

h3{
    font-size: 3.6rem;
    text-transform: capitalize;
}
p{
    font-size: 3rem;
    text-transform: capitalize;
}
